<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        Arrow Achievers
    </title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <%- include('./includes/head.ejs') %>
        <style>
            form {
                text-align: center;
                display: block;
            }
            
            .razorpay-payment-button {
                background-color: #262261 !important;
                border: none !important;
                padding: 15px !important;
                border-radius: 5px !important;
                color: white !important;
            }
        </style>
</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 500}">
    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="body">
        <%- include('./includes/header.ejs') %>
            <div class="divider130"></div>
            <div role="main" class="main">
                <section class="page-header page-header-classic page-header-sm" style="background: url(/public/img/background/upcoming.jpg); background-size: cover; height: 400px; background-repeat: no-repeat;">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 order-2 order-md-1 align-self-center backgroundHeading">
                                <h1 data-title-border>Payment</h1>
                            </div>
                            <!-- <div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-right">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div> -->
                        </div>
                    </div>
                </section>

                <div class="container pb-1">
                    <div class="row pt-4 paymentForm">
                        <div class="col-md-12 pd0">
                            <div class="overflow-hidden">
                                <h3 class="font-weight-bold mb20">
                                    <%= name %>
                                </h3 <h4 class="textMsg">
                                <%= contact %>
                                    </h4>
                                    <h4 class="textMsg">
                                        <%= email %>
                                    </h4>
                            </div>

                            <div class="overflow-hidden ">
                                <h3 class="textMsg borderTop">
                                    Total:
                                    <span class="amount"> ₹
                                    <%= amount/100 %></span>
                                </h3>
                            </div>
                            <form action="/paid" method="POST" class="borderTop text-right mr0">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="_id" value="<%= _id %>">
                                <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="<%= key %>" data-amount="<%= amount %>" data-currency="INR" data-order_id="<%= id %>" data-buttontext="Proceed to pay" data-name="Acme Corp" data-description="Test transaction" data-image="https://lh3.googleusercontent.com/proxy/CQAVAtCAMgeln4WNebXMaHkvSmu4Z0dgg9aeFE4eNH0-tJRjiUtz8is9ppSM-gWpcTLlpIw-VwUGLHIxcPwRAx2wBSKrwlM"
                                    data-prefill.name="<%= name %>" data-prefill.email="<%= email %>" data-prefill.contact="<%= contact %>" data-theme.color="#262261"></script>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container">

                    <div class="row mt-5 py-3">
                        <div class="col-md-12">
                            <div class="toggle toggle-primary toggle-simple m-0" data-plugin-toggle>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <%- include('./includes/footer_bottom.ejs') %>
    </div>

    <!-- Vendor -->
    <%- include('./includes/scripts.ejs') %>
        <script>
            $(document).ready(function() {
                $('#navAbout').addClass(' active');
            });
        </script>

</body>

</html>